.content{
  margin:0px auto;
  font-size:20px;
  width:100%;
  padding: 20px;
  .title{
    margin:20px;
  }
  .operation-area{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin:10px;
  }
}