.newUser{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .ant-form-item{
    	width:50%;
        
    	.submitBtn{
    		margin-right:20px;
    	}
    }
}
.ant-popover-inner-content{
    padding:8px 0;
}
.popUl{
    max-height: 250px;
    overflow-y: scroll;
    li{
        cursor: pointer;
        padding:8px 10px;
        font-size:14px;
        font-weight: 400;
        color: #666;
    }
    li:hover{
        background-color: #eaf8fe;
    }
}