.wrapper{
    padding:10px;
    
}
.title{
    overflow: hidden;
    clear: both;
}
.inline-form{
    width:500px;
   li{
    //    display: flex;
    padding: 20px;
        &>span{
           width:20%;
           font-size: 16px;
           text-align: right;
           float: left;
        }  
        &>input{
            width:65%;
            float: left;
        }

    }


}
.operation-area{
    display: flex;
    justify-content: space-between;
    width:700px;
    margin-bottom:10px;
    input{
        width:200px;
    }
}
.entity-autority-table{
    width:700px;
    background: #fff;
}
.entity-autority-form{
    
}